{% extends "pages/patchouli/text.html.jinja" %}
{% import "macros/images.html.jinja" as Images with context -%}

{% block inner_body %}
  <p class="img-wrapper">
    {% for image in page.images %}
      {#- TODO: figure out a better default name if there's no title #}
      {{
        Images.image(
          name=page.title or "",
          image=image,
          lazy=false,
        )
      }}
    {% endfor %}
  </p>
  {{ super() }}
{% endblock inner_body %}

{% block redirect_image -%}
  {{ Images.url(page.images|first) }}
{%- endblock redirect_image %}

{% block redirect_extra_opengraph %}
  <meta name="twitter:card" content="summary_large_image">
{% endblock redirect_extra_opengraph %}
