{% extends "pages/patchouli/text.html.jinja" %}
{% import "macros/textures.html.jinja" as texture_macros with context -%}

{% block inner_body %}
  <h4 class="spotlight-title page-header">{{ page.item.name }}</h4>
  <div class="spotlight">
    <img
      alt="Spotlight inventory slot"
      src="{{ 'hexdoc:textures/gui/spotlight.png'|hexdoc_texture }}"
    >
    {{ texture_macros.render_item(page.item) }}
  </div>
  {{ super() }}
{% endblock inner_body %}
