{% extends "pages/patchouli/text.html.jinja" %}
{% import "macros/images.html.jinja" as Images with context -%}

{% block inner_body %}
  <div class="spotlight">
    {{ Images.load_texture("hexdoc:textures/gui/spotlight.png", "Spotlight inventory slot") }}
    {{ Images.item(page.item) }}
  </div>
  {{ super() }}
{% endblock inner_body %}

{% block redirect_image -%}
  {{ Images.url(page.item) }}
{%- endblock redirect_image %}

{% block title_attrs %} class="spotlight-title page-header"{% endblock title_attrs %}
