{% extends "pages/patchouli/page.html.jinja" %}

{% import "macros/formatting.html.jinja" as fmt with context %}
{% import "macros/formatting.txt.jinja" as fmt_txt with context %}
{% from "pages/patchouli/page.html.jinja" import redirect_title as default_redirect_title with context %}

{% block body %}
  {% if page.title is defined and page.title is not none %}
    {# need title_attrs for LookupPatternPage -#}
    <h4{% block title_attrs %}{% endblock %}>
      {{- page.title -}}
      {# conditionally defined in Page #}
      {%- if page_anchor_id is defined %}
        {{- fmt.permalink(page_anchor_id) -}}
      {% endif -%}
    </h4>
  {% endif %}

  {# within a separate block so we can control if the text goes before or after page-specific content #}
  {% block inner_body %}
    {{ fmt.styled(page.text) }}
  {% endblock inner_body %}
{% endblock body %}

{% defaultmacro redirect_title() -%}
  {%- if page.title is defined and page.title -%}
    {{ _("hexdoc.redirect.page.title").format(page.title) }}
  {%- else -%}
    {{ default_redirect_title() }}
  {%- endif -%}
{%- enddefaultmacro %}

{% defaultmacro redirect_description() -%}
  {{ fmt_txt.styled(page.text) }}
{%- enddefaultmacro %}
