{% import "macros/formatting.html.jinja" as fmt with context -%}

{%- macro category_toc(category) -%}
  {% if category.has_entries_in_tree %}
    <details class="toc-category">
      <summary>{{ fmt.maybe_spoilered_link(category) }}</summary>

      <ul>
        {% for entry in category.entries.values() %}
          <li>{{ fmt.maybe_spoilered_link(entry) }}</li>
        {% endfor %}

        {% for child in category.children.values() %}
          {{ category_toc(child) }}
        {% endfor %}
      </ul>
    </details>
  {% endif %}
{%- endmacro -%}

{# put the link target outside of toc-container so jump to top still works in sidebar mode #}
<div id="table-of-contents"></div>
<nav class="toc-container">
  <h2 class="page-header">
    {{ _("hexdoc.toc.title") }}<a
      href="javascript:void(0)"
      class="permalink toggle-link small"
      data-target="toc-category"
      title="{{ _('hexdoc.toc.toggle_all') }}"
    ><i class="bi bi-list-nested"></i></a>{{ fmt.permalink("table-of-contents", "toc-permalink") }}</span>
  </h2>

  {% for category in book.categories.values() if not category.parent_id %}
    {{ category_toc(category) }}
  {% endfor %}
</nav>
