<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="refresh" content="0; url={{ page_url }}">

    {% block opengraph %}
      {% include "components/opengraph.html.jinja" %}
    {% endblock opengraph %}

    {% block styles %}
      <link rel="stylesheet" href="{{ page_url }}/index.css">
    {% endblock styles %}
  </head>
  <body>
    <a href="{{ page_url }}">{{ page_url }}</a>
  </body>
</html>
