<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="refresh" content="0; url={{ target_url }}">
    {% block styles %}
      <link rel="stylesheet" href="{{ target_url }}/index.css">
    {% endblock styles %}
  </head>
  <body>
    <a href="{{ target_url }}">{{ target_url }}</a>
  </body>
</html>
