{% import "macros/formatting.jinja" as fmt_base with context %}
{% import "macros/styles.txt.jinja" as styles_txt with context %}

{# FormatTree handler #}
{% macro styled(value, safe=false) -%}
  {{ fmt_base.styled(
    value,
    safe=safe,
    separator=" ",
    styles=styles_txt,
  ) }}
{%- endmacro %}
