{% import "macros/formatting.html.jinja" as fmt_html with context %}
{% import "macros/styles.txt.jinja" as styles_txt with context %}

{# FormatTree handler #}
{% macro styled(value) -%}
  {{ fmt_html.styled(value, separator=" ", styles=styles_txt) }}
{%- endmacro %}
