name: Deploy docs

on:
  push:
    branches: main

permissions:
  contents: read

env:
  ALGOLIA_APP_ID: 80YMFEUQR0
  ALGOLIA_CONFIG_PATH: web/docusaurus/algolia.json

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v4
        with:
          python-version: '3.11'
      - uses: yezz123/setup-uv@v4

      - name: Install Nox
        run: uv pip install --system nox

      - name: Generate docs
        timeout-minutes: 5
        run: nox --session docs -- build

      - name: Upload Pages artifact
        uses: actions/upload-pages-artifact@v3
        with:
          path: web/docusaurus/build

  deploy:
    needs: build
    runs-on: ubuntu-latest
    permissions:
      pages: write
      id-token: write
    environment:
      name: github-pages
      url: ${{ steps.deploy-pages.outputs.page_url }}
    steps:
      - id: deploy-pages
        uses: actions/deploy-pages@v4

  run-scraper:
    needs: deploy
    runs-on: ubuntu-latest
    environment:
      name: algolia
    steps:
      - uses: actions/checkout@v4

      - name: Load Algolia config
        id: config
        run: echo "config=$(cat ${{ env.ALGOLIA_CONFIG_PATH }} | jq -r tostring)" >> $GITHUB_OUTPUT

      - name: Run DocSearch scraper
        uses: signcl/docsearch-scraper-action@master
        env:
          APPLICATION_ID: ${{ env.ALGOLIA_APP_ID }}
          API_KEY: ${{ secrets.ALGOLIA_WRITE_API_KEY }}
          CONFIG: ${{ steps.config.outputs.config }}
